.se_connecter{
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
    display: ;
    
    width: 400px;
    height: 80vh;
    position: absolute;
    top: 10vh;
    left: 120px;
}

.se_connecter p{
    text-align: center;
    font-size: 22px;
    font-family: Lucida ;
    color: gray;
}

.se_connecter hr{
    width: 80%;
    color: rgba(128, 128, 128, 0.2);
    
}
.se_connecter form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 70%;
    height: 200px;
}
.se_connecter form input{
    font-size: 16px;
    margin-top: 20px;
    padding-left: 5px;
    height: 30px;
    border-color:rgba(189, 189, 189, 0.5);
    border-width: 0.5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.se_connecter button{
    background: rgba(122, 207, 72);
    margin: auto;
    margin-top: 20px;
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.se_connecter a{
    margin: auto;
    margin-top: 20px;
   color: rgb(33,152,245);
    text-decoration: none;
}
.se_connecter a:hover{
    text-decoration: underline;
}